
  .contenedor-cartas {
    margin-top: 5%;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  
  .carta {
    padding: 10px;
    margin: 10px;
    background-color: black;
    border: 2px solid red;
    border-radius: 10px;
    flex: 0 0 calc(25% - 20px);
  }
  
  .carta img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .carta h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .carta p {
    margin: 0;
    font-size: 14px;
    color: #666;
  }
  .carta a {
    text-decoration: none;
    color: inherit;
  }

  .btn {
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    transition: border-color 1.0s ease-in-out;
  }

  .btn:hover {
    border: 2px solid red;
  }
  